width  {background-color: blue
;}          
padding: 12px 0    
text-align: center   

color            
margin       
display        
padding        
justify-content        
align            
font-size        
grid-columns        
span           
height: 60px        
